<launch>

  <include file="$(find utexas_gdc)/launch/simulation_3ne.launch" />
  <include file="$(find utexas_gdc)/launch/simulation_3ne_map_server.launch" />

  <include file="$(find segbot_gazebo)/launch/segbot_mobile_base.launch">
    <arg name="y" value="10.0" />
  </include>

  <node name="nav_error_task" pkg="nav_error_task" type="nav_error_task" />

</launch>

